{% extends "index.html" %}
{% block content %}
<main>
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-body-tertiary">
        <div class="col-md-6 p-lg-5 mx-auto my-5">
          <h1 class="h1 fw-bold">Enough Us, <br> Enough Earth</h1>
          <h3 class="fw-normal text-muted mb-3">충분한 우리 충분한 지구.</h3>
          <div class="d-flex gap-3 justify-content-center lead fw-normal">
            <a class="icon-link" href="#">
              상담 문의하기
              <i class="bi bi-caret-right-fill"></i>
            </a>
          </div>
        </div>
        <div class="product-device shadow-sm d-none d-md-block"></div>
        <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
      </div>

    <div class="container">
        <hr class="featurette-divider">
        <h2 class="display-4">이너프어스는 브랜딩부터 퍼포먼스 마케팅까지 차별화된 광고 컨설팅을 고민합니다</h2>
        <h2 class="h3">매출 극대화를 창출하는 우리는 '이너프어스'입니다'.</h2>
        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">음식점 및 가게 디자인 작업. <br><span class="text-muted">분야별 디테일한 요소까지</span></h2>
            <p class="lead">매출 성장을 가능케 하는 디자인.</p>
          </div>
          <div class="col-md-5">
            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
    
          </div>
        </div>
    
        <hr class="featurette-divider">
    
        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">웹사이트 상세 페이지 제작. <br><span class="text-muted">온라인 디자인.</span></h2>
            <p class="lead">사람들이 클릭하게 만드는 직관적이고 눈에띄는 디자인.</p>
          </div>
          <div class="col-md-5 order-md-1">
            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
    
          </div>
        </div>
    
        <hr class="featurette-divider">
    
        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">공구&도매 컨설팅 및 홍보. <br><span class="text-muted">전문 벤더와 함께.</span></h2>
            <p class="lead">업무 & 상품판매 & 디자인업무& 협업 문의.</p>
          </div>
          <div class="col-md-5">
            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
    
          </div>
        </div>

    <!-- Call to action section-->
    <div class="row gx-5 justify-content-center">
        <div class="col-xxl-8">
            <div class="text-center my-5">
                <h2 class="h3 fw-bolder"><span class="text-gradient d-inline">About Me</span></h2>
                <a class="btn btn-outline-primary btn-lg px-5 py-3 fs-6 fw-bolder" href="#">Contact me</a>
                <p class="lead fw-light mb-4">My name is Start Bootstrap and I help brands grow.</p>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit dolorum itaque qui unde quisquam consequatur autem. Eveniet quasi nobis aliquid cumque officiis sed rem iure ipsa! Praesentium ratione atque dolorem?</p>
            </div>
        </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <svg class="bd-placeholder-img rounded-circle mb-3" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
          <h2>명함&로고 디자이너</h2>
          <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
          <p><a class="btn btn-warning" href="#">View details &raquo;</a></p>
        </div>
        <div class="col-lg-3">
          <svg class="bd-placeholder-img rounded-circle mb-3" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
          <h2>웹개발자</h2>
          <p>Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>
          <p><a class="btn btn-warning" href="#">View details &raquo;</a></p>
        </div>
        <div class="col-lg-3">
          <svg class="bd-placeholder-img rounded-circle mb-3" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
          <h2>벤더&마케터</h2>
          <p>And lastly this, the third column of representative placeholder content.</p>
          <p><a class="btn btn-warning" href="#">View details &raquo;</a></p>
        </div>
        <div class="col-lg-3">
          <svg class="bd-placeholder-img rounded-circle mb-3" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
          <h2>영상 제작 전문가</h2>
          <p>And lastly this, the third column of representative placeholder content.</p>
          <p><a class="btn btn-warning" href="#">View details &raquo;</a></p>
        </div>
      </div><!-- /.row -->
  
    </div><!-- /.container -->

</main>
{% endblock %}