{% extends "index.html" %}
{% block content %}
<main>
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-body-tertiary">
      <div class="col-md-6 p-lg-5 mx-auto my-5">
        <h1 class="h1 fw-bold">Enough Us, <br> Enough Earth</h1>
        <h3 class="fw-normal text-muted mb-3">충분한 우리 충분한 지구.</h3>
        <div class="d-flex gap-3 justify-content-center lead fw-normal">
            <a class="icon-link" href="#">
              상담 문의하기
              <i class="bi bi-caret-right-fill"></i>
            </a>
        </div>  
    </div>
      <div class="product-device shadow-sm d-none d-md-block"></div>
      <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
    </div>

    <div class="container px-5 my-5">
        <div class="text-center mb-5">
            <h1 class="h3 fw-bolder mb-0"><span class="text-gradient d-inline">사업안내</span></h1>
        </div>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-11 col-xl-10 col-xxl-10">
                <!-- 미디어컨텐츠 Section-->
                <section>
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h2 class="text-dark fw-bolder mb-0">미디어컨텐츠</h2>
                    </div>
                    <!-- 미디어컨텐츠 Card 1-->
                    <div class="card shadow border-0 rounded-4 mb-5">
                        <div class="card-body p-5">
                            <div class="row align-items-center gx-5">
                                <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                    <div class="bg-light p-4 rounded-4">
                                        <div class="text-primary fw-bolder mb-2">2020 - Present</div>
                                        <div class="small fw-bolder">영상 제작 전문가</div>
                                        <div class="small text-muted">디자인 전공</div>
                                        <div class="small text-muted">매체 전문가</div>
                                    </div>
                                </div>
                                <div class="col-lg-8"><div> 수많은 전문 영상 제작 경험으로, 영상 제작에 필요한 모든 영역에서 다년간 경력을 쌓은 전문가들이 모여 영상 컨텐츠를 기획하고 제작합니다.. SNS이용자를 대상으로 하는 기업의 광고마케팅 자연스럽고 높은 신뢰성을 가지는 광고 </div></div>
                            </div>
                        </div>
                    </div>
                    <!-- 웹사이트 구축 Card 2-->
                    <h2 class="text-dark fw-bolder mb-4">웹사이트 구축</h2>
                    <div class="card shadow border-0 rounded-4 mb-5">
                        <div class="card-body p-5">
                            <div class="row align-items-center gx-5">
                                <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                    <div class="bg-light p-4 rounded-4">
                                        <div class="text-primary fw-bolder mb-2">2020 - Present</div>
                                        <div class="small fw-bolder">SEM Specialist</div>
                                        <div class="small text-muted">Wayne Enterprises</div>
                                        <div class="small text-muted">Gotham City, NY</div>
                                    </div>
                                </div>
                                <div class="col-lg-8"><div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus laudantium, voluptatem quis repellendus eaque sit animi illo ipsam amet officiis corporis sed aliquam non voluptate corrupti excepturi maxime porro fuga.</div></div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- 웹사이트구축 Section-->
                <div class="pb-5"></div>
                <!-- Skills Section-->
                <section>
                    <!-- Skillset Card-->
                    <div class="card shadow border-0 rounded-4 mb-5">
                        <div class="card-body p-5">
                            <!-- Professional skills list-->
                            <div class="mb-5">
                                <div class="d-flex align-items-center mb-4">
                                    <div class="feature bg-primary bg-gradient-primary-to-dark text-white rounded-3 me-3"><i class="bi bi-tools"></i></div>
                                    <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">AI & 코딩 교육</span></h3>
                                </div>
                                <div class="row row-cols-1 row-cols-md-3 mb-4">
                                    <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">블록코딩(스크래치, 엔트리 등)</div></div>
                                    <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">레고 에듀 스파이크 프라임</div></div>
                                    <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">3D 프린팅</div></div>
                                </div>
                                <div class="row row-cols-1 row-cols-md-3">
                                    <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">메타버스 공간 구축</div></div>
                                    <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">SW 교육</div></div>
                                    <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">User Interface Design</div></div>
                                </div>
                            </div>
                            <!-- Languages list-->
                            <div class="mb-0">
                                <div class="d-flex align-items-center mb-4">
                                    <div class="feature bg-primary bg-gradient-primary-to-dark text-white rounded-3 me-3"><i class="bi bi-code-slash"></i></div>
                                    <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">온라인마케팅</span></h3>
                                </div>
                                <div class="row row-cols-1 row-cols-md-3 mb-4">
                                    <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">스마트스토어</div></div>
                                    <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">인스타그램</div></div>
                                    <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">명함&현수막 배너 광고</div></div>
                                </div>
                                <div class="row row-cols-1 row-cols-md-3">
                                    <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">검색광고</div></div>
                                    <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">유튜브&영상광고</div></div>
                                    <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">SNS 마케팅</div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="pb-5"></div>
                <section>
                    <h2 class="text-dark fw-bolder mb-4">관광 (지역맛집, 지역상품)</h2>
                    <!-- 관광 (지역맛집, 지역상품) Card 1-->
                    <div class="card shadow border-0 rounded-4 mb-5">
                        <div class="card-body p-5">
                            <div class="row align-items-center gx-5">
                                <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                    <div class="bg-light p-4 rounded-4">
                                        <div class="text-dark fw-bolder mb-2">2020 - Present</div>
                                        <div class="mb-2">
                                            <div class="small fw-bolder">지역전문가</div>
                                            <div class="small text-muted">목포 토박이</div>
                                        </div>
                                        <div class="fst-italic">
                                            <div class="small text-muted">너그들이 뭔데</div>
                                            <div class="small text-muted">지역 특성을 꿰뚫다</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8"><div>포털사이트에 특정 검색어를 검색 시 연관된 광고를 노출시키는 광고로 정확한 타겟팅과 높은 효율성이 특징입니다. 주요 포털사이트 내 특정 영역에 노출되는 이미지 광고로 홍보에 최적화 된 디스플레이 광고</div></div>
                            </div>
                        </div>
                    </div>
                    <!-- 디자인 편집 제작 Card 2-->
                    <h2 class="text-dark fw-bolder mb-4">디자인 편집 제작</h2>
                    <div class="card shadow border-0 rounded-4 mb-5">
                        <div class="card-body p-5">
                            <div class="row align-items-center gx-5">
                                <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                    <div class="bg-light p-4 rounded-4">
                                        <div class="text-dark fw-bolder mb-2">2020 - Present</div>
                                        <div class="mb-2">
                                            <div class="small fw-bolder">ULA</div>
                                            <div class="small text-muted">Los Angeles, CA</div>
                                        </div>
                                        <div class="fst-italic">
                                            <div class="small text-muted">Undergraduate</div>
                                            <div class="small text-muted">Computer Science</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8"><div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus laudantium, voluptatem quis repellendus eaque sit animi illo ipsam amet officiis corporis sed aliquam non voluptate corrupti excepturi maxime porro fuga.</div></div>
                            </div>
                        </div>
                    </div>
                </section>            
            </div>
        </div>
    </div>
</main>
{% endblock %}